.idea/

*.iml
.gradle/
local.properties
*.log
*.swp
*.tmp
*.temp
*.bak
*.orig
*.rej

.gradle/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/compiler.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/libraries
.idea/assetWizardSettings.xml
.idea/.name
*.iws